<div class="container-fluid" id="wrap">
  <div class="scroll-container">
    <div class="sp1" id="page-1">
      <div class="images-resp">
        <img srcset="./assets/Sp1-375.png 375w,
                      ./assets/Sp1-768.png 768w,
                      ./assets/Sp1-1920.png 1920w"
              sizes="(max-width: 767.98px) 650px,
                      (max-width: 1200px) 750px,
                      1920px"
              src="./assets/Sp1-1920.png" alt="Noctulescence art direction & design">
      </div>
    </div>

    <div class="f-h2">
    </div>

    <div class="sp2" id="page-2" style="flex-direction: row-reverse;">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-3"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <div class="txt&img">
        <div class="sp2txt">
          <img src="./assets/Sp2txt-1920.png" alt="Context Pithagore RATP">
        </div>
        <div class="sp2img">
          <img src="./assets/Sp2img-1920.png" alt="Illustration 1 Pithagore RATP">
        </div>
      </div>
    </div>

    <div class="f-h2">
    </div>

    <div class="sp3" id="page-3">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-2"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-4"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <img src="./assets/Sp3-1920.png" alt="Illustration 2 Pithagore RATP">
    </div>

    <div class="f-h2">
    </div>

    <div class="sp4" id="page-4">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-3"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-5"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <div class="txt&img">
        <div class="sp4txt">
          <img src="./assets/Sp4txt-1920.png" alt="Smart Couponing HighcoBox">
        </div>
        <div class="sp4img">
          <img src="./assets/Sp4img-1920.png" alt="Illustration Smart Couponing HighcoBox">
        </div>
      </div>
    </div>

    <div class="f-h2">
    </div>

    <div class="sp5" id="page-5">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-4"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-6"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <img src="./assets/Sp5-1920.png" alt="Illustration 2 Smart Couponing HighcoBox">
    </div>

    <div class="f-h2">
    </div>

    <div class="sp6" id="page-6">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-5"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-7"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <div class="txt&img">
        <div class="sp6txt">
          <img src="./assets/Sp6txt-1920.png" alt="Context Concept car Voyages-sncf.com">
        </div>
        <div class="sp6img">
          <img src="./assets/Sp6img-1920.png" alt="Illustration Concept car Voyages-sncf.com">
        </div>
      </div>
    </div>

    <div class="f-h2">
    </div>

    <div class="sp7" id="page-7">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-6"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-8"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <img src="./assets/Sp7-1920.png" alt="Illustration 2 Concept car Voyages-sncf.com">
    </div>

    <div class="f-h2">
    </div>

    <div class="sp8" id="page-8">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-7"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-9"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <div class="txt&img">
        <div class="sp8txt">
          <img src="./assets/Sp8txt-1920.png" alt="Context NVOCC manager Bolloré">
        </div>
        <div class="sp8img">
          <img src="./assets/Sp8img-1920.png" alt="Illustration NVOCC manager Bolloré">
        </div>
      </div>
    </div>

    <div class="f-h2">
    </div>

    <div class="sp9" id="page-9">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-8"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-10"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <img src="./assets/Sp9-1920.png" alt="Illustration 2 NVOCC manager Bolloré">
    </div>

    <div class="f-h2">
    </div>

    <div class="sp10" id="page-10">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-9"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-11"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <div class="txt&img">
        <div class="sp10txt">
          <img src="./assets/Sp10txt-1920.png" alt="Context Mes services pour la maison Laposte">
        </div>
        <div class="sp10img">
          <img src="./assets/Sp10img-1920.png" alt="Illustration Mes services pour la maison Laposte">
        </div>
      </div>
    </div>

    <div class="f-h2">
    </div>

    <div class="sp11" id="page-11">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-10"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-12"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <img src="./assets/Sp11-1920.png" alt="Illustration 2 Mes services pour la maison Laposte">
    </div>

    <div class="f-h2">
    </div>

    <div class="sp12" id="page-12">
      <div class="txt&img">
        <div class="sp12txt">
          <img src="./assets/Sp12txt-1920.png" alt="Context L'appli TER SNCF">
        </div>
        <div class="sp12img">
          <img src="./assets/Sp12img-1920.png" alt="Illustration L'appli TER SNCF">
        </div>
      </div>
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-11"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-13"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
    </div>

    <div class="f-h2">
    </div>

    <div class="sp13" id="page-13">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-12"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-14"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <img src="./assets/Sp13-1920.png" alt="Illustration 2 L'appli TER SNCF">
    </div>

    <div class="f-h2">
    </div>

    <div class="sp14" id="page-14">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-13"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-15"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <div class="txt&img">
        <div class="sp14txt">
          <img src="./assets/Sp14txt-1920.png" alt="Context Coach éco-conduite AXA">
        </div>
        <div class="sp14img">
          <img src="./assets/Sp14img-1920.png" alt="Illustration Coach éco-conduite AXA">
        </div>
      </div>
    </div>

    <div class="f-h2">
    </div>

    <div class="sp15" id="page-15">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-14"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-down.png" style="width: 4vw;"></a>
        <a href="#page-16"><img src="./assets/Arrow-directdown.png" style="width: 4vw;"></a>
      </div>
      <img src="./assets/Sp15-1920.png" alt="Illustration 2 Coach éco-conduite AXA">
    </div>

    <div class="f-h">
    </div>

    <div class="sp16" id="page-16">
      <div class="sidebar">
        <a href="#page-1"><img src="./assets/Arrow-directtop.png" style="width: 4vw;"></a>
        <a href="#page-15"><img src="./assets/Arrow-up.png" style="width: 4vw;"></a>
      </div>
      <div class="bottomelements">
        <div class="bottom">
          <div class="sp16sign">
            <img src="./assets/Sp16sign-640.png" alt="Signature Sören Naulin">
          </div>
          <div class="sp16mer">
            <img src="./assets/Sp16mer-640.png" alt="Merci !">
          </div>
        </div>
      </div>
    </div>

    <div class="f-b">
    </div>

  </div>
</div>


<div class="contact">
<!-- Button trigger modal -->
  <a type="button" class="buttonicon" style="fixed" data-toggle="modal" data-target="#exampleModal">
    <img src="./assets/Icon-Mail.png" style="width: 4vw;">
  </a>
  <!-- Modal -->
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="animate__animated animate__fadeInUp modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="padding: 0rem 0rem;">
          <h5 class="modal-title" id="exampleModalLabel">Contactez-moi !</h5>
        </div>
        <div class="modal-body">
          <div align="center">
            <%= simple_form_for @contact do |f| %>
            <div class="row1">
              <div class="full_name" style="display: inline-flex;">
                <%= f.input :first_name, label: false, placeholder: " Prénom", error: "" %>
                <%= f.input :last_name, label: false, placeholder: " Nom", error: "" %>
              </div>
            </div>
            <div class="row2">
              <div class="email">
                <%= f.input :email, label: false, placeholder: " Email", error: "" %>
              </div>
            </div>
            <div class="row3">
              <div class="textmessage">
                <%= f.input :message, label: false, placeholder: " Votre message", :as => :text, error: "" %>
              </div>
            </div>
            <a id="btnsubmit">
              <%= f.button :submit, 'Envoyer' %>
            </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
